<% include partials/header %> 
   <div class = "about-me">
        <h2>About Me</h2>
        <div class = "col-left">
            <img src = "/public/images/me.jpeg">
        </div>
        <div class = "col-right">
            <h4>Gagandeep Kang</h4>
            <p></p>
            <p></p> 
        </div>
    </div>


<% include partials/footer %> 
