<!DOCTYPE HTML>

<html>
	<head>
		<title>Welcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Spectral</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Gagandeep Kang</h2>
							<p>Software Developer | College Student | Tech Enthusiast</p>
							<!-- <ul class="actions special">
								<li><a href="#" class="button primary">Activate</a></li>
							</ul> -->
						</div>
						<a href="#one" class="more scrolly">About Me</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Who am I?</h2>
								<p>Hello! My name is Gagandeep Kang and I'm currently a sophomore studying Computer Science and Mathematics at Boston University. <br /> <br />
                During the school year, I have the opportunity to be a part of Boston University's Hack4Impact Chapter, which is an organization that develops applications for non-profits in Boston. 
                 I am also the treasurer of BU's Global App Initiative which is an organization that builds apps for our community. This past semester, I joined 
                  OpenWeb, an app incubator that brings together highly motivated students to develop tech projects to collaborate, design, and learn together.
                  <br />
                  <br />
                  Outside of developing, I am a judge for the Boston Debate League, am a food fanatic, and love playing and watching basketball. Feel free to send me a message if any of those pique your interests. 
              </p>
							</header>
							<ul class="icons major">
								<li><a href="/public/Resume.pdf" target = "_blank" class="button fit">Resume</a></li>
								<li><a href="https://www.linkedin.com/in/gaskang/" target = "_blank" class="button fit">LinkedIn</a></li>
                <li><a href="https://github.com/gkang2018" class="button fit" target = "_blank" >Github</a></li>
                <li><a href="mailto: gskang@bu.edu" class="button fit" target = "_blank" >Email Me</a></li>
                
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="/public/images/images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Magna primis lobortis<br />
								sed ullamcorper</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="/public/images/images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="/public/images/images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>My Projects</h2>
								<p>Take a look at some of the projects that I've had the opportunity to work on </p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<h3>Fake News</h3>
									<p>Built a Google Chrome Extension at BostonHacks that analyzes the authenticity of a news article.</p>
								</li>
								<li class="icon solid fa-laptop">
									<h3>Agriworks</h3>
									<p>Developing a web application that will mitigate the agrarian resource crisis in India</p>
								</li>
								<li class="icon solid fa-code">
									<h3>YelpCamp</h3>
									<p>A NodeJS application that allows users to rate, share, and purchase custom campgrounds</p>
								</li>
								<li class="icon solid fa-headphones-alt">
									<h3>SilentParty</h3>
									<p>An iOS application that synchronizes music to create a party atmosphere for users.</p>
								</li>
								<li class="icon fa-heart">
									<h3>MuchToDo</h3>
									<p>An iOS application that customizes a users reminders.</p>
								</li>
								<li class="icon fa-flag">
									<h3>QuickStop</h3>
									<p>A web application that optimizes users traveling in Boston.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/browser.min.js"></script>
			<script src="/public/assets/js/breakpoints.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>